.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

:root {
  --h1-font-size: 32px;
  --h2-font-size: 28px;
  --h3-font-size: 19px;
  --h4-font-size: 16px;
  --p-font-size: 14px;
  --shadow-box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
    rgba(0, 0, 0, 0.24) 0px 1px 2px;
  --orange_color: #f98008;
  --brown_color: #511c19;
  --white_color: #fafbe9;
}

/* Style scrollbar on left side */
::-webkit-scrollbar {
  width: 10px;
  height: 100%;
  background-color: var(--white_color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--brown_color);
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

p {
  font-size: var(--p-font-size);
}

.fs-42 {
  font-size: 42px;
}

@media screen and (max-width: 768px) {
  img.chien_doc {
    position: relative !important;
  }
}

.bilon_chien {
  position: absolute;
  right: 2%;
  top: 0;
  z-index: -1;
  filter: drop-shadow(1px 2px 2px #ddd);
  width: 20vw;
  z-index: -1;
}

.table_footer {
  position: absolute;
  right: 2%;
  bottom: 0;
  width: 16vw;
  z-index: -1;
}

html {
  height: 100%;
}

.header {
  height: 120px;
}

p {
  color: grey;
}

.body {
  margin: 1% 0px;
  font-family: "Lato", sans-serif;
}

@media screen and (max-width: 1680px) {
  #papipets-form {
    zoom: 0.85;
  }
}

#papipets-form fieldset:not(:first-of-type) {
  display: none;
}

select#month-select:focus,
select#year-select:focus {
  background-color: #fafbe9;
}

select#month-select,
select#year-select {
  border: 1px solid #511c19;
  border-radius: 30px;
  gap: 8px;
  color: #511c19;
  font-weight: 600;
  font-size: 20px;
}

select#month-select option,
select#year-select option {
  font-size: 20px;
  text-align: center;
  color: #511c19;
}

#papipets-form input,
#papipets-form textarea,
select {
  padding-left: 0;
  background: none;
  height: 45px;
  border: none;
  border-bottom: 1px solid rgb(20, 20, 20);
}

input::placeholder {
  color: #8b8b8b !important;
}

input#accept-conditions {
  width: 20px;
}

#papipets-form input::placeholder {
  color: #272525;
}

#papipets-form input:focus,
#papipets-form textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0;
}

#papipets-form .action-button,
.commander {
  width: 180px;
  border: 2px solid var(--brown_color);
  border-radius: 25px;
  cursor: pointer;
  color: var(--white);
  background: var(--brown_color);
  padding: 10px 15px;
  margin: 10px 0px 10px 5px;
}

button.submit-btn {
  width: 70%;
  background: #fff;
  color: var(--brown_color);
  border: 2px solid var(--brown_color);
  border-radius: 25px;
  cursor: pointer;
  padding: 10px 15px;
  margin: 10px 0px 10px 5px;
}

#papipets-form .action-button:hover,
#papipets-form .action-button:focus,
button.submit-btn:hover,
button.submit-btn:focus {
  background-color: var(--white_color);
  color: var(--brown_color);
  pointer-events: auto;
}

#papipets-form .action-button-previous {
  width: 50px;
  height: 50px;
  background: #fff;
  color: var(--brown_color);
  border: 2px solid var(--brown_color);
  border-radius: 25px;
  cursor: pointer;
  margin: 10px 0px 10px 5px;
}

button.previous svg {
  fill: white;
  width: 35px;
  height: 35px;
}

#papipets-form .action-button-previous:hover,
#papipets-form .action-button-previous:focus {
  background-color: var(--brown_color);
  color: #fff;
}

.card {
  z-index: 0;
  border: none;
  position: relative;
}

.steps {
  color: gray;
  margin-bottom: 10px;
  text-align: right;
}

#progressbar {
  overflow: hidden;
  color: lightgrey;
}

.steps-3,
.steps-4 {
  background: rgb(228, 165, 108);
  background: -moz-radial-gradient(
    circle,
    rgba(228, 165, 108, 1) 0%,
    rgba(234, 144, 63, 1) 84%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(228, 165, 108, 1) 0%,
    rgba(234, 144, 63, 1) 84%
  );
  background: radial-gradient(
    circle,
    rgba(228, 165, 108, 1) 0%,
    rgba(234, 144, 63, 1) 84%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e4a56c", endColorstr="#ea903f", GradientType=1);
}

.steps-5,
.steps-6 {
  background-color: #f9fae8;
}

.sidewalk {
  width: 100%;
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  left: 5px;
  z-index: -1;
}

.steps-0 {
  background-color: var(--brown_color);
}

.steps-0 .card {
  background-color: var(--orange_color);
  border-radius: 1.5rem;
}

.steps-1 {
  background-color: var(--white_color) !important;
}

.steps-2 {
  background-color: #fa6754 !important;
}

.text-orange {
  color: #f98008;
}

.text-brown {
  color: var(--brown_color);
}

.text-brown:hover {
  color: var(--brown_color);
}

#progressbar .active {
  color: var(--white_color);
}

#progressbar li {
  list-style-type: none;
  width: 20%;
  float: left;
  position: relative;
}

#progressbar #account:before {
  font-family: FontAwesome;
  content: "\f13e";
}

#progressbar #personal:before {
  font-family: FontAwesome;
  content: "\f007";
}

#progressbar #payment:before {
  font-family: FontAwesome;
  content: "\f030";
}

#progressbar #confirm:before,
#progressbar #p2:before {
  font-family: FontAwesome;
  content: "\f00c";
}

#progressbar li:before {
  width: 35px;
  height: 35px;
  line-height: 32px;
  display: block;
  color: var(--white_color);
  background: lightgray;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  padding: 1px;
}

#progressbar li:after {
  content: "";
  width: 100%;
  height: 2px;
  background: lightgray;
  position: absolute;
  left: 0;
  top: 25px;
  z-index: -1;
}

#progressbar li.active:before,
#progressbar li.active:after {
  background: var(--orange_color);
}

.progress {
  z-index: 9;
  height: 8px;
  margin: auto;
}

.progress-bar-striped {
  background-image: none;
}

.progress.active {
  display: none;
}

.progress-bar {
  background-color: var(--brown_color);
  border-radius: 30px !important;
  border: 1px solid var(--white_color);
}

.fit-image {
  width: 100%;
  object-fit: cover;
}

/* logo */

.d {
  fill: #fff;
}

#heart {
  fill: #fff;
}

#d.steps6 {
  fill: #000;
}

#heart.steps6 {
  fill: var(--orange_color);
}

#logo_home h1 {
  margin: 0;
  padding: 0;
}

h2 span {
  background-color: #3f130f;
  padding: 0 15px;
  color: #f9fae8;
  border-radius: 15px;
}

@media only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2 / 1),
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-device-pixel-ratio: 2) {
  #logo_home h1 a {
    background-size: 180px 46px;
  }
}

#logo_home {
  width: 200px;
  margin: 20px auto;
}

.chien-footer {
  position: absolute;
  left: 5%;
  bottom: 2%;
  width: 15vw;
  z-index: -1;
}

#image_slider_1.active-1,
#image_slider_2.active {
  display: block;
  z-index: -1;
}

img.chien_doc {
  position: absolute;
  bottom: 0;
  z-index: -1;
  left: 10px;
  width: 24vw;
  z-index: -1;
}

#dogs-steps-5.active {
  display: inline;
}

@media screen and (min-width: 1024px) {
  img.chien_b {
    position: absolute;
    bottom: 0;
    z-index: -1;
    right: 25%;
  }
}

img.chien_b {
  width: 20vw;
  z-index: -1;
}

.row.recettes .item label {
  border: 1px solid #f98109;
}

img.naturel_img {
  width: 10vw;
  position: fixed;
  top: 25%;
  left: 8%;
  z-index: -1;
}

#dogs-steps-1 {
  position: fixed;
  bottom: 0;
  z-index: -1;
  text-align: center;
  /* centrez l'image horizontalement */
  width: 100%;
}

img.shap_right {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  z-index: -1;
}

.plante-footer {
  position: absolute;
  right: 5%;
  bottom: 2%;
  width: 10vw;
  z-index: -1;
}

.img_recette {
  width: 35% !important;
}

#dogs-steps-1.removebg1 {
  display: none !important;
}

.styled-select {
  margin: 0 auto;
  margin: 0 auto;
  background-color: #3e3d3db5;
  border-radius: 15px;
  padding: 20px 15px;
  box-shadow: var(--shadow-box-shadow);
}

.styled-select .search-input::placeholder,
.styled-select select option,
input.search-input {
  color: var(--white) !important;
}

.styled-select select option {
  font-size: 18px;
  margin: 4px 0;
  padding: 4px 12px;
}

.styled-select select {
  height: 210px;
  width: 100%;
}

.styled-select select:focus {
  color: #555;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.styled-select select::-ms-expand {
  display: none;
}

.styled-select select::-moz-placeholder {
  color: #555555;
  opacity: 1;
}

.styled-select select::-webkit-input-placeholder {
  color: #555555;
}

select option {
  color: #555555;
  border-radius: 15px;
}

input.previous.action-button-previous.fixed {
  width: 40% !important;
  height: initial !important;
  padding: 9px 15px !important;
}

input.next.action-button.stepsName.fixed {
  width: 40% !important;
}

@media screen and (max-width: 768px) {
  #papipets-form #steps3 .action-button,
  #papipets-form #steps3 .action-button-previous,
  #papipets-form #steps4 .action-button,
  #papipets-form #steps4 .action-button-previous,
  #papipets-form #steps5 .action-button,
  #papipets-form #steps5 .action-button-previous {
    background: var(--brown_color);
    color: var(--white_color);
  }

  input.previous.action-button-previous.fixed,
  input.next.action-button.stepsName.fixed {
    box-shadow: var(--shadow-box-shadow);
  }
}

/* copie de code item pour profils de chien */

.profils_box label {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 30px;
  display: block;
  text-align: center;
  margin-bottom: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  position: relative;
  border: 1px solid var(--brown_color);
  font-size: 26px;
  color: var(--brown_color);
  cursor: pointer;
}

.profils_box label:hover {
  -webkit-box-shadow: 0 2px 40px #e0e5f0;
  -moz-box-shadow: 0 2px 40px #e0e5f0;
  box-shadow: 0 2px 40px #e0e5f0;
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
  transform: translateY(-3px);
}

.profils_box input[type="checkbox"]:not(old),
.profils_box input[type="radio"]:not(old) {
  visibility: hidden;
}

.profils_box input[type="checkbox"]:not(old):checked + label,
.profils_box input[type="radio"]:not(old):checked + label,
.profils_box input[type="checkbox"]:not(old):checked + span + label,
.profils_box input[type="radio"]:not(old):checked + span + label {
  display: block;
  border: 1px solid #f98008;
}

.profils_box input[type="checkbox"]:not(old):checked + label:before,
.profils_box input[type="radio"]:not(old):checked + label:before,
.profils_box input[type="checkbox"]:not(old):checked + span + label:before,
.profils_box input[type="radio"]:not(old):checked + span + label:before {
  font-family: "fontello";
  content: "\e81b";
  position: absolute;
  right: 10px;
  font-size: 24px;
  font-size: 1.5rem;
  color: #f98008;
}

.profils_box input[type="checkbox"]:not(old):checked + label span,
.profils_box input[type="radio"]:not(old):checked + label span,
.profils_box input[type="checkbox"]:not(old):checked + span + label span,
.profils_box input[type="radio"]:not(old):checked + span + label span {
  border: 4px solid #f98008;
}

.profils_box input[type="checkbox"]:not(old):checked + label figure img,
.profils_box input[type="radio"]:not(old):checked + label figure img,
.profils_box input[type="checkbox"]:not(old):checked + span + label figure img,
.profils_box input[type="radio"]:not(old):checked + span + label figure img {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
  -moz-transform: translate(-50%, -50%) scale(1.2);
  -ms-transform: translate(-50%, -50%) scale(1.2);
  -o-transform: translate(-50%, -50%) scale(1.2);
  transform: translate(-50%, -50%) scale(1.2);
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

.zebi {
  animation: slideInFromRight 0.9s ease-in-out;
}

/*============================================================================================*/
/* 2.  CONTENT */
/*============================================================================================*/
/*-------- 2.1 Wizard --------*/
.item label {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 15px;
  display: block;
  background-color: #511c19;
  padding: 45px 5px;
  text-align: center;
  margin-bottom: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  position: relative;
  border: 1px solid #d9e1e6;
  font-size: 15px;
  font-size: 0.7575rem;
  color: #fff;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}

@media (max-width: 991px) {
  .item label {
    padding: 30px;
  }
}

#livrasion > div > div > .item {
  width: 260px;
}

.item label strong {
  text-transform: uppercase;
  display: block;
  font-size: 18px;
  font-size: 1.125rem;
  color: #fff;
}

.item label:hover {
  -webkit-box-shadow: 0 2px 40px #e0e5f0;
  -moz-box-shadow: 0 2px 40px #e0e5f0;
  box-shadow: 0 2px 40px #e0e5f0;
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
  transform: translateY(-3px);
}

.item label img {
  display: block;
  margin: 0 auto 15px;
  width: 100px;
}

@media (max-width: 767px) {
  .item label img {
    width: 80px;
    height: auto;
  }
}

.item label span {
  border: 4px solid #d9e1e6;
  display: block;
  margin: 0 auto 15px;
  width: 130px;
  height: 130px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  padding: 4px;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.item input[type="checkbox"]:not(old),
.item input[type="radio"]:not(old) {
  visibility: hidden;
}

.item input[type="checkbox"]:not(old):checked + label,
.item input[type="radio"]:not(old):checked + label,
.item input[type="checkbox"]:not(old):checked + span + label,
.item input[type="radio"]:not(old):checked + span + label {
  display: block;
  border: 1px solid #f98008;
  -webkit-box-shadow: 0 1px 10px #511c19 important;
  -moz-box-shadow: 0 1px 10px #511c19;
  box-shadow: 0 1px 10px #511c19 !important;
}

.item input[type="checkbox"]:not(old):checked + label:before,
.item input[type="radio"]:not(old):checked + label:before,
.item input[type="checkbox"]:not(old):checked + span + label:before,
.item input[type="radio"]:not(old):checked + span + label:before {
  font-family: "fontello";
  content: "\e81b";
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 24px;
  font-size: 1.5rem;
  color: #f98008;
}

.item input[type="checkbox"]:not(old):checked + label span,
.item input[type="radio"]:not(old):checked + label span,
.item input[type="checkbox"]:not(old):checked + span + label span,
.item input[type="radio"]:not(old):checked + span + label span {
  border: 4px solid #f98008;
}

.item input[type="checkbox"]:not(old):checked + label figure img,
.item input[type="radio"]:not(old):checked + label figure img,
.item input[type="checkbox"]:not(old):checked + span + label figure img,
.item input[type="radio"]:not(old):checked + span + label figure img {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
  -moz-transform: translate(-50%, -50%) scale(1.2);
  -ms-transform: translate(-50%, -50%) scale(1.2);
  -o-transform: translate(-50%, -50%) scale(1.2);
  transform: translate(-50%, -50%) scale(1.2);
}

.validation-error {
  border-bottom: 1px solid #f44336 !important;
}

.animated {
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
